body{
    background-image: url("Cover.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #00010f;
}

/* corpo, com a imagem de fundo, e a cor mais escura */ 

/* Header */

.menu{
    background: linear-gradient(to right, #86d7dd, #1b487a);
    height: 55px;
    border: groove;
    border-color: #d2e2d9;
}
 
#logo_pequena{
    height:60px;
    width: 60px;
    position:absolute;
    left:3%;
    top: 0.8%;
}

/* Estilo da barra de pesquisa */

#txtBusca{
    position: relative;
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size: 15px;
    border-style: none;
    border-radius: 40px;
    height:38px;
    width:490px;
}

#btnBuscar{
    border-style: none;
    float:left;
    height: 40px;
    border-radius:0 20px 20px 0;
    width: 55px;
    font-weight: bold;
    background:#5F9EA0;
    position:absolute;
    top: -0.5px;
    right:0%;
    cursor: pointer;
}

.barraPesquisa{
    position: absolute;
    top: 2%;
    right: 7%;
    border:#4b4b4b;
    border: groove 3px;
    border-radius: 40px;
    border:solid 0.5px;
    background-color: #ffffff
    
}

#lupa{
    height: 20px;
}

/*estilo do menu*/

ul, #myUL {
    list-style-type: none;
    color: #ffffff;   
}

#menu{
    font-size: 35px;
    right:20%;
    top:4%;
}
  
#myUL {
    margin: -18px;
    margin-left: -1px;
    padding: 0;
}

.caret {
    cursor: pointer;   
    user-select: none;
    
}
 /* Sem os seguintes 2 estilos, não é possivel a visualizacao da lista de itens do menu*/
.nested {
    display: none;
    
}
  
.active {
    display: block;
}

#menu_icon{
    height:30px;
    position: absolute;
    top: 2.5%;
    left: 1%;
}

/* Estilo da lista de itens do menu*/

.div_lista{
    background: linear-gradient(to bottom, #1b487a, #5c9ba0);
    height:auto;
    width: 180px;
}

.lista_materias{
    color:#ffffff;
    text-decoration: none; 
}

/* Estilo do icon de perfil e das opcoes sugeridas por ele */

.btnLogin{
    position:absolute;
    right: 1.5%;
    top: 0.5%;
    width: 60px;
    height:60px;
    align-items: center;
    background-color: transparent;
    border:none;
    cursor: pointer;
}

#perfil_icon{
    background-color: transparent;
    height:45px;
    position: relative;
    top: 8%;
    right: 2%;
}


.perfil{
    cursor: pointer;
    display:none;
    position:absolute;
    min-width: 50px;
    z-index:1;
    right:2%;
    top:9%;
}

.perfil a{
    position: relative;
    left: 30px;
    top: -15px;
    width: 80px;
    height: auto;
    color:#181717;
    background: linear-gradient(to right, #165399, #98dfe4);
    padding: 12px 16px;
    display:block;
    text-align:center;
    text-decoration: none;
}

.perfil a:hover{
    background-color: #ddd;
}

/*  estilo necessario para visualizar as opcoes de perfil */
.show {
    display: block;
}

/* labels de aviso caso o usuario nao preencha o formulario */

.lblNomeAut,
.lblTelAut,
.lblEmailAut,
.lblEndAut,
.lblDtNascAut,
.lblSenhaAut {
    position: relative;
    left: 10%;
    display: none;
    color: #ff0000;
}

/* estilo da div que contem a apresentacao e o form de cadastro */

.container{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* estilo da div de apresentacao, a logo e seus textos */

.divApres{
    background: linear-gradient(to bottom, #5f5f5f, #e9e9e9);
    height: 700px;
    width: 500px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.logo{
    display: flex;
    padding-top: 50px;
    width: 300px;
}

.p1,
.p2,
.p3{
    padding-top: 20px;
    font-size: 15px;
    width: 400px;
}

/* estilo da div com o form de cadastro */

.divForm {
    text-align: start;
    background: linear-gradient(to top, #2175e2, #78e4f0);
    width: 500px;
    height: 700px;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.divCadastro {
    text-align:center;
    padding-left: 20px;
}

.cadastro {
    font-size: 20px;
    font-weight: bold;
}

/* estilo do botao para autenticar e permitir o cadastro */

.btnAut {
    cursor: pointer;
    height: 40px;
    width: 200px;
    position: relative;
    left: 30%;
    top: 1%;
    background-color: #0261b9;
    color: #ffffff;
    border-style: none;
    border-radius: 30px;
}

/* estilo dos inputs */

.txtNome,
.txtTel,
.txtEmail,
.txtEndereco,
.txtSenha,
.txtDtNasc,
.txtDesc{
    position: relative;
    left: 10%;
    width: 400px;
    height: 20px;
    border: solid 0.5px;
    border-color: #999999;
}

/* estilo dos labels que ficam acima dos inputs */

.lblNome,
.lblTel,
.lblEmail,
.lblEndereco,
.lblDesc,
.lblDtNasc,
.lblSenha{
    position: relative;
    left: 10%;
}

