/*criando cor do header*/
.bg-corHeader{
  background: linear-gradient(to right, #1b487a, #86d7dd)
}

  
#navMenu, #navHome{
  color: #fff;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;

}
  
#list{
  list-style: none;
  display: flex;
  gap: 40px;
}