/*criando cor do header*/
.bg-corHeader{
    background: linear-gradient(to right, #1b487a, #86d7dd)
  }
  
  /*tamanho da lupa*/
  .lupa{
    height: 100px;
  }
  
  #navMenu, #navHome{
    color: #fff;
  }
  
    
  /* .form-control-ss{
    width: 500px;
  }
  
  .img-logo{
    margin-top: 20px;
    width: 50%;
  }

  @media screen and (max-width: 575px){
    .form-control-ss{
      width: 320px;
    }
    
  }

@media screen and (min-width: 576px) and (max-width:798px){
  .form-control-ss{
    width:700px
  }
} */
