/*criando cor do header*/
.bg-corHeader{
  background: linear-gradient(to right, #1b487a, #86d7dd)
}

  
#navMenu, #navHome{
  color: #fff;
}

li::after{
  content: '';
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 4%;
  background-color: #1b487a;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

li:hover::after{
  transform: scaleX(1);
}