@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

/* corpo, com a imagem de fundo, e a cor mais escura */ 
body{
    background: #f3f3f3;
    height:100vh;
	display:flex;
	flex-direction:column;
	background-image: url("Cover.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: #00010f;
    background-repeat: no-repeat;
}

/* Dseigner do card para que fique com efeito destacado da página e com cores diferentes*/
.wrapper{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
    height: auto;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.8);
    border-radius: 5px;
}

.wrapper .left{
    width: 40%;
    height: auto;
    background: linear-gradient(to bottom, #004AAD, #00abbe);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.wrapper .left h4{
    margin-bottom: 10px;
}

.wrapper .left p{
    font-size: 12px;
}

.wrapper .right{
    width: 80%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}

.wrapper .right .info,
.wrapper .right .projects{
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3,
.wrapper .right .available h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .projects h3{
    margin-top: 25px;
}

.wrapper .right .info_data{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}


.wrapper .right .info_data .data{
    width: 45%;
    margin-left: 10px;
}

.wrapper .right .info_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data h4{
    display: flex;
    text-align: center;
}

#icon{
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    color: white;
    background-image: linear-gradient(to bottom, #004AAD, #00abbe);
}

.text{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
}

.wrapper .right .info_data .data p,
.wrapper .right .project_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #787f87;
}

.wrapper .right .info_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

.wrapper .right .available .available_data{
    display: flex;
    margin-top: 10px;
}

.wrapper .right .available .available_data .data {
    border: 1px solid rgb(128, 128, 128);
    width: auto;
    padding: 0 5px;
    margin-left: 5px;
    height: auto;
    border-radius: 10px;
    text-align: center;
}

.wrapper .right .projects .project_data{
    height: 220px;
    width: 450px;
    overflow-x: scroll;
    display: flex;
}

.wrapper .right .projects .project_data .data{
    width: 150px;
}

.wrapper .right .projects .project_data .data img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding-left: 10px;
}

.wrapper .right .projects .project_data .data legend {
    font-size: 10px;
    padding-left: 10px;
}

.area{
    border: 1px solid transparent;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#addArea{
    margin-left: 5px;
    cursor: pointer;
}

.downloadResume{
    display: flex;
    margin-top: 50px;
    width: 165px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(194, 194, 194);
    margin-bottom: 10px;
    cursor: pointer;
}

#uploadButton{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
}

.uploadText{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
}

.editInformation{
    justify-content: center;
    align-items: center;
    width: 110px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-image: linear-gradient(to bottom, #003880, #007784);
    margin-bottom: 10px;
    display: flex;
    margin-top: 40px;
    margin-left: 5px;
    cursor: pointer;
}

.editInformation:hover{
    background-image: linear-gradient(to bottom, #00224f, #00434b);
}

.textButtonEdit{
    margin-left: 3px;
}

.buttonsDownloadEdit{
    display: flex;
}




/*-----------------------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/*RESET*/


/* CSS */

/* corpo, com a imagem de fundo, e a cor mais escura */ 
body{
    background-image: url("Cover.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: #00010f;

}

/* Header */

.menu{
    background: linear-gradient(to right, #86d7dd, #1b487a);
    height: 55px;
    border: groove;
    border-color: #d2e2d9;
}

#logo_pequena{
    height:60px;
    width: 60px;
    position:absolute;
    left:3%;
    top: 0.8%;
}

/* -------------------- */

/* logo no meio do site */

#logo{
    width: 300px;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Estilo das divs de materias*/

/* botoes das materias*/

.materiasBotoes_cima,
.materiasBotoes_baixo{
  
    height:200px;
    width: 280px;
    border-style: groove;
    border-color: #d6d6d6;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    margin-left: 30px;
}

#Portugues{
    position: absolute;
    right: 80%;
    background-color: #a88028;
}

#Matematica{
    position: absolute;
    right: 55%;
    background-color: #2ec121;
}

#Musica{
    position: absolute;
    right: 30%;
    background-color: #9d27af;
}

#Esportes{
    position: absolute;
    right: 5%;
    background-color: #25d3b9;
}

#Historia{
    position: absolute;
    top: 70%;
    right: 80%;
    background-color: #ca2525;
}

#Ingles{
    position: absolute;
    top: 70%;
    right: 55%;
    background-color: #cea500;
}

#Idiomas{
    position: absolute;
    top: 70%;
    right: 30%;
    background-color: #ff9721;
}

#Informatica{
    position: absolute;
    top:70%;
    right:5%;
    background-color: #614bc6;
}

.Escrita{
    position: absolute;
    top:68%;
    color:#eeeeee;
    left:2%;
}

/*imagens*/

.imagens_c{
    height:150px;
    width:280px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.imagens_b{
    top:70%;
    height:150px;
    width:280px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Estilo da barra de pesquisa */

#txtBusca{
    position: relative;
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size: 15px;
    border-style: none;
    border-radius: 40px;
    height:38px;
    width:490px;
}

#btnBuscar{
    border-style: none;
    float:left;
    height: 40px;
    border-radius:0 20px 20px 0;
    width: 55px;
    font-weight: bold;
    background:#5F9EA0;
    position:absolute;
    top: 0px;
    right:0%;
    cursor: pointer;
}

.barraPesquisa{
    position: absolute;
    top: 2%;
    right: 7%;
    border:#4b4b4b;
    border: groove 3px;
    border-radius: 40px;
    border:solid 0.5px;
    background-color: #ffffff
    
}

#lupa{
    height: 20px;
}

/*estilo do menu*/

ul, #myUL {
    list-style-type: none;
    color: #ffffff;
     
}

#menu{
    font-size: 35px;
    right:20%;
    top:4%;

}
  
#myUL {
    margin: -18px;
    margin-left: -1px;
    padding: 0;
}
  
.caret {
    cursor: pointer;   
    user-select: none;
    
}

/* Sem os seguintes 2 estilos, não é possivel a visualizacao da lista de itens do menu*/
  
.nested {
    display: none;
}
  
.active {
    display: block;
}


#menu_icon{
    height:30px;
    position: absolute;
    top: 2.5%;
    left: 1%;
}

/* Estilo da lista de itens do menu*/

.div_lista{
    background: linear-gradient(to bottom, #1b487a, #5c9ba0);
    height:auto;
    width: 180px;
}

.lista_materias{
    color:#ffffff;
    text-decoration: none; 
}

/* Estilo do icon de perfil e das opcoes sugeridas por ele */

.btnLogin{
    position:absolute;
    right: 1.5%;
    top: 0.5%;
    width: 60px;
    height:60px;
    align-items: center;
    background-color: transparent;
    border:none;
    cursor: pointer;
}

#perfil_icon{
    background-color: transparent;
    height:45px;
    position: relative;
    top: 8%;
    right: 2%;
}


.perfil{
    cursor: pointer;
    display:none;
    position:absolute;
    min-width: 50px;
    z-index:1;
    right:2%;
    top:9%;
}

.perfil a{
    position: relative;
    left: 30px;
    top: -15px;
    width: 80px;
    height: auto;
    color:#181717;
    background: linear-gradient(to right, #165399, #98dfe4);
    padding: 12px 16px;
    display:block;
    text-align:center;
    text-decoration: none;
}

.perfil a:hover{
    background-color: #ddd;
}

/*  estilo necessario para visualizar as opcoes de perfil */
.show {
    display: block;
}