/* Estilo para o corpo da página */
body {
  background-color: #00010f !important; /* Define a cor de fundo da página */
  background-image: url("Cover.png"); /* Define a imagem de fundo */
  background-repeat: no-repeat; /* Não repete a imagem de fundo */
  background-attachment: fixed; /* Mantém a imagem de fundo fixa */
  background-size: cover; /* Faz a imagem de fundo cobrir toda a tela */
}


/* Estilo para o container da logo */
.logo-container {
  position: fixed; /* Define a posição fixa do container da logo */
  top: 0; /* Define a posição superior do container da logo */
  right: 0; /* Define a posição direita do container da logo */
  z-index: 9999; /* Define o índice z do container da logo */
}

/* Estilo para a imagem da logo */
.logo-container img {
  height: 50px; /* Define a altura da imagem da logo */
}
/*
#mensagem{
  height: 80%;
  width: 60%;
}

/* Estilos para desktop */
@media (min-width: 768px) {

  .menu {
    display: flex; /* Define o elemento com um layout flexível */
    justify-content: space-between; /* Alinha os itens do menu ao espaço disponível */
    align-items: center; /* Centraliza verticalmente os itens do menu */
    padding: 10px; /* Adiciona um preenchimento interno de 10 pixels ao menu */
  }

  .perfil_principal {
    position: relative; /* Define a posição do elemento como relativa */
  }
  .card-container {
    display: flex; /* Define o elemento com um layout flexível */
    justify-content: space-between; /* Alinha os itens do container de cartões ao espaço disponível */
  }

  .card {
    width: 30%; /* Define a largura dos cartões como 30% do contêiner pai */
  }
}

/* Estilos para celular */
@media (max-width: 767px) {
  .card-container {
    flex-direction: column; /* Altera a direção de exibição dos itens do container de cartões para coluna */
    align-items: center; /* Centraliza horizontalmente os itens do container de cartões */
  }

  .card {
    width: 80%; /* Define a largura dos cartões como 80% do contêiner pai */
    margin-bottom: 20px; /* Adiciona uma margem inferior de 20 pixels aos cartões */
  }
}

/* Estilo para o container dos cards */
.card-container {
  display: flex; /* Define o display como flex para permitir o alinhamento dos cards */
  flex-wrap: wrap; /* Define o wrap como flex para permitir que os cards quebrem a linha quando não couberem mais na mesma linha */
  justify-content: center; /* Define o alinhamento centralizado dos cards */
  margin-top: 30px; /* Define a margem superior do container dos cards */
}

/* Estilo para cada card */
.card {
  width: 250px; /* Define a largura do card */
  height: 400px; /* Define a altura do card */
  margin: 20px; /* Define a margem externa do card */
  margin-bottom: 20px; /* Define a margem inferior do card */
  border-radius: 10px; /* Adiciona um arredondamento nos cantos do card */
  overflow: hidden; /* Define o overflow como hidden para ocultar o conteúdo que estiver fora do card */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adiciona uma sombra no card */
}

/* Estilo para quando o mouse passar sobre o card */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Adiciona uma sombra mais forte no card quando o mouse passa sobre ele */
}

.card img {
  height: 250px; /* define a altura da imagem */
  object-fit: cover; /* faz com que a imagem cubra todo o espaço disponível sem perder a proporção */
}

.card-desc {
  border-bottom-left-radius: 50px; /* define o raio da borda esquerda inferior do elemento */
  border-bottom-right-radius: 50px; /* define o raio da borda direita inferior do elemento */
  background-color: #ffffff; /* define a cor de fundo do elemento */
  padding: 10px; /* define o espaçamento interno do elemento */
  text-align: center; /* define o alinhamento do texto do elemento */
  height: 200px; /* define a altura do elemento */
}

.like-button {
  float: right; /* alinha o elemento à direita */
  font-size: 24px; /* define o tamanho da fonte do elemento */
  color: black; /* define a cor do texto do elemento */
  cursor: pointer; /* faz com que o cursor do mouse se transforme em uma mão quando passa por cima do elemento */
}

.like-button.red {
  color: red; /* define a cor do texto do elemento quando a classe 'red' é adicionada */
}
.cartaoProf  {
  color: black ;
  text-decoration: none;
}
