



body{
background-color: #000524;
background-image: url("Cover.png");
background-repeat: no-repeat;
}

.tit{
font-weight: bold;
font-size: 30px;
}

.imgInsta{
width: 200px;
height: 200px;
cursor: pointer;
}

.bg-txt{
background: linear-gradient(to bottom, #5f5f5f, #e9e9e9);
border-radius: 50px;
}

.pTxt{
padding-left: 20px;
padding-right: 20px;
}

.divApresentacao{
text-align: center;
align-content: center;
}

.divTudo{
display: flex;
}

@media screen and (max-width: 575px){

.bg-txt{
background: linear-gradient(to bottom, #5f5f5f, #e9e9e9);
}

}


